h1{

	color: #bbdefb;
	background-color: #e57373;
}

#especial{

	color: #5e35b1;

}

.verde{

	color: #009688;
}


body{

	background: url(imagenescss/paisaje.jpg);
	background-repeat: no-repeat;;
	background-size: cover; 
}

