h1{

	color: #bbdefb;
	background-color: #e57373;
	border: 2px #eceff1 dashed;
	border-left-color: #304ffe;
	border-right-color: #f50057;
	border-top-color: #004d40;
	border-bottom-color:#ffc107; 
}

#especial{

	color: #5e35b1;

}

.verde{

	color: #009688;
}


body{

	background: url(imagenescss/paisaje.jpg);
	background-repeat: no-repeat;;
	background-size: cover; 
}

